<link rel="stylesheet" href="/css/nav.css">
<nav class="navbar fixed-bottom">
    <div class="nav-item">
        <img src="" alt="Home"> <!-- Add an onclick function to handle the click event -->
        <span>Home</span>
    </div>
    <div class="nav-item plus-icon"> <!-- Add an onclick function to handle the click event -->
        <img src="" alt="Add">
    </div>
    <div class="nav-item">
        <img src="" alt="Settings"> <!-- Add an onclick function to handle the click event -->
        <span>Settings</span>
    </div>
</nav>