<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Workout Pro</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="apple-touch-icon" href="/public/images/workout-pro-logo.png" />
    <link
      rel="apple-touch-icon-precomposed"
      href="/public/images/workout-pro-logo.png"
    />
  </head>
  <body>
    <div class="container">
      <h1>Welcome, <%= user.username %></h1>
      <% if (typeof workoutPlan !== 'undefined' && workoutPlan) { %>
      <div id="workout-plan">
        <h2>Your Workout Plan</h2>
        <div class="workout-content"><%- workoutPlan %></div>
      </div>
      <% } %>
    </div>
    <%- include('partials/nav.ejs') %>

    <!-- Hamburger Menu -->
    <div class="menu-icon" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div id="menuOverlay" class="menu-overlay"></div>

    <div id="hamburgerMenu" class="hamburger-menu">
        <br>
        <button onclick="goToPastWorkoutsPage()">Past Workouts</button>
        <button onclick="goToChatPage()">Chat with your AI Workout Professional</button>
        <button onclick="goToProgressTrackerPage()">Progress Tracker</button>
    </div>

    <script src="/js/nav.js"></script>
  </body>
</html>
