body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: #f4f4f9;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.nav-item img {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
}

.plus-icon {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 12vw;
    height: 12vw;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.plus-icon img {
    width: 70%;
    height: 70%;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Slightly grey background */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 2vh; /* Use viewport height for padding */
    border: 1px solid #888;
    width: 80vw;
    max-width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.close-button {
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-option {
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d3d3d3;
    text-align: left;
}
