.navbody {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #f4f4f9;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.nav-item img {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
}

.plus-icon {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.plus-icon img {
    width: 30px;
    height: 30px;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff; /* Optional: Set background color */
    z-index: 1000; /* Ensure it stays on top of other elements */
}