.test {
  border: 2px solid red;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: wrap;
  overflow-x: hidden;
}

.container {
  text-align: center;
  margin: 20px;
  width: 90%;
  padding-bottom: 60px;
  word-wrap: break-word; /* Allows long words to be broken and wrap to the next line */
  word-break: break-all; /* Ensures that the text will break and wrap to the next line */
}

.workout-box {
  background-color: #add8e6;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
}

.workout-day {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f0f0f0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}


.workout-type {
  font-size: 1em;
}

.workout-content {
  white-space: pre-wrap; /* Preserves whitespace and wraps text */
  word-wrap: break-word; /* Allows long words to be broken and wrap to the next line */
  word-break: break-word; /* Ensures that the text will break and wrap to the next line */
}